body {
    max-width: 100%;
    background-color: #a88769;
    color: white;
}

header{
    height: 100px;
    background-color: #bb936d;
}

aside{
    width: 200px;
    float: right;
    padding-top: 20px;
}

article{
    background-color: #886340;
    margin-top: -20px;
    padding: 20px;
}

section{
    width: 800px;
    margin-top: -20px;
}

main{
    width: 760px;
    background-color: #886340;
    padding: 20px;
}

.valikko{
    padding: 20px;
    margin: 30px;
    font-size: 16px;
    text-decoration: none;
}

nav{
    padding-top: 23px;
    padding-left: 186px;
}

span{
    background-color: #e4ae7c;
}


.lahde{
    text-align: right;
    padding-bottom: 10px;
}

span{
    color: black;
    
}

dd{
    color: beige;
}

footer{
    background-color: #bb936d;
    height: 35px;
    margin: -20px;
    padding-left: 20px;
}

footer p{
    padding: 10px;
    color: #000;
}

h1, h2{
    text-shadow: 1px 1px 2px black;
}

@media(max-width:900px){

    body{
        width: 95%;
        font-size: 14px;
    }

    main{
        width: 64%;
    }

    section{
        width: 80%;
    }

    article{
        width: 80%;
    }

    aside{
        width: 25%;
    }

    nav{
        width: 70%;
        padding-left: 65px;
        padding-top: 33px;
    }

    .valikko{
        padding: 20px;
        margin: 10px;
        font-size: 14px;
    }

    img{
        width: 100%;
        height: auto;
    }

    @media(max-width:300px){

        
    body{
        width: 75%;
        font-size: 14px;
    }

    main{
        width: 44%;
    }

    section{
        width: 60%;
    }

    article{
        width: 60%;
    }

    aside{
        width: 10%;
    }

    nav{
        width: 50%;
        padding-left: 25px;
        padding-top: 13px;
    }

    .valikko{
        padding: 10px;
        margin: 5px;
        font-size: 14px;
    }

    img{
        width: 100%;
        height: auto;
    }

    }
}