body{
    max-width: 80%;
    box-sizing: border-box;
    margin: auto;
}

header{
    width: 100%;
    float: left;
    text-align: center;
    background-color: bisque;
}

/* Linkkien hienosäätö */
.nav{
    width: 35%;
    float: left;
    height: 260px;
    background-color: burlywood;
    padding-top: 40px;
}

.linkit{
    list-style-type: none;
}

.linkki{
    color: black;
    text-decoration: none;
}

.linkki:hover{
    color: brown;
}

/* Osoite */
address{
    width: 32%;
    margin-left: 70px;
    text-align: center;
    margin-bottom: 10px;
}

/* Copyright */
footer{
    width: 100%;
    text-align: center;
    background-color: bisque;
    margin-top: auto;
}

/* Sisältö */
.sisalto{
    background-color: rgb(255, 243, 228);
    width: 65%;
    height: auto;
    float: left;
}

.sisalto img{
    width: 400px;
    height: auto;
    float: right;
    margin: 20px;
}
/* Valikon tasaus muihin ikkunoihin */
.text{
    margin: 20px;
}

main li{
    padding: 5px;
    font-size: 2rem;
}

.osoite{
    margin-top: 20px;
}

/* Menu */

.list p{
    line-height: 1rem;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.kahvi{
    text-align: left;
    width: 25%;
}

.hinta{
    text-align: right;
    width: 25%;
}

