table{
    background-color: rgb(253, 225, 201);
    width: 500px;
}

input[type="text"]{
    width: 95.5%;
    height: 45px;
    padding: 5px 10px;
    border: 0;
}

textarea{
    width: 95.5%;
    padding: 5px 10px;
    border: 0;
}

input[type="submit"]{
    width: 100%;
    height: 45px;
    background-color: goldenrod;
}

td{
    border: none;
}

#contact{
    background-color: brown;
    color: white;
    height: 70px;
}