@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Grey+Qo&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#ekateksti
{
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#tokateksti
{
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#kolmasteksti
{
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}

.neljästeksti
{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#vihreä
{
    color: green;
    font-size: 50px;
}

#n1
{
    color: red;
    font-size: 10px;
}

#n2
{
    color: #ffae00;
    font-size: 15px;
}

#n3
{
    color: rgb(255, 255, 0);
    font-size: 20px;
}

#n4
{
    color: #88dd00;
    font-size: 25px;
}

#n5
{
    color: #00ffaa;
    font-size: 30px;
}

#n6
{
    color: #00b7ff;
    font-size: 33px;
}

#n7
{
    color: #002fff;
    font-size: 27px;
}

#n8
{
    color: #4c00ff;
    font-size: 23px;
}

#n9
{
    color: #f700ff;
    font-size: 27px;
}

#n10
{
    color: #ff0055;
    font-size: 22px;
}

#nimi
{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}