#vihreä
{
    color: green;
    font-size: 50px;
}

#n1
{
    color: red;
    font-size: 10px;
}

#n2
{
    color: #ffae00;
    font-size: 15px;
}

#n3
{
    color: rgb(255, 255, 0);
    font-size: 20px;
}

#n4
{
    color: #88dd00;
    font-size: 25px;
}

#n5
{
    color: #00ffaa;
    font-size: 30px;
}

#n6
{
    color: #00b7ff;
    font-size: 33px;
}

#n7
{
    color: #002fff;
    font-size: 27px;
}

#n8
{
    color: #4c00ff;
    font-size: 23px;
}

#n9
{
    color: #f700ff;
    font-size: 27px;
}

#n10
{
    color: #ff0055;
    font-size: 22px;
}