table {
    width: 400px;
    border-collapse: collapse;
}

table td
{
    border: 1px solid #9b9b9b;
    text-align: right;
    padding-right: 5px;
}


table thead th, thead td
{
    background-color: #c7c7c7;
    font-weight: bold;
}

table th
{
    text-align: left;
}
tr:nth-child(odd)
{
    background-color: aliceblue;
}

tr:nth-child(even)
{
    background-color: #e7e7e7;
}