.laatikko{
    width: 200px;
    margin: 20px auto;
}

.kulku{
    text-align: left;
}

body{
    text-align: center;
    margin: auto;
    width: 200px;
}

.htiedot{
    padding: 10px 20px 20px 20px;
}

