body{
    width: 30%;
    margin: 0 auto;
}

form{
    padding: 5px 20px;
    height: 650px;
    background-color: #c8c8c8;
}

select, input, textarea{
    width: 13em;
    float: left;
}

label{
    display: block;
    width: 10em;
    float: left;
    clear: left;
}

input[type="submit"]{
    margin-left: 12em;
    width: 180px;
}

.cb, .rb{
    margin-left: 10em;
    margin-right: -100px;
}